@model EnsinoApp.Models.Entities.Matricula

<h2>Certificado Válido</h2>
<p>Certificado emitido para: <strong>@Model.Casal.NomeConjuge1 e @Model.Casal.NomeConjuge2</strong></p>
<p>Curso: <strong>@Model.Turma.Curso.Nome</strong></p>
<p>Data de Conclusão: <strong>@Model.DataConclusao</strong></p>
<p>Código de Validação: <strong>@Model.CodigoValidacao</strong></p>