@using EnsinoApp.Models.Enums
@model EnsinoApp.ViewModels.Turmas.TurmaDashboardViewModel;
@{
    ViewData["Title"] = "Área do líder";
}
<section class="content-header">
    <a asp-action="Index" class="btn  btn-xs">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Curso - @Model.NomeCurso</h1>
                <small>Campus: @Model.NomeCampus | Líderes: @Model.NomeLider</small>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-outline card-primary mb-3">
                <div class="card-header">Casais Matriculados</div>
                <div class="card-body">
                    <h3 class="card-title">@Model.CasaisMatriculados.Count</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-outline card-success mb-3">
                <div class="card-header">Progresso de Presença</div>
                <div class="card-body">
                    <canvas id="chartPresenca"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-outline card-warning mb-3">
                <div class="card-header">Status da Turma</div>
                <div class="card-body">
                    <p>
                        @if (@Model.Status == StatusTurma.Acomecar)
                        {
                            <span class="badge bg-primary">A começar</span>
                        }
                        else if (@Model.Status == StatusTurma.EmAndamento)
                        {
                            <span class="badge bg-primary">Em Andamento</span>
                        }
                        else if (@Model.Status == StatusTurma.Concluida)
                        {
                            <span class="badge bg-success">Concluída</span>
                        }
                        else if (@Model.Status == StatusTurma.Cancelada)
                        {
                            <span class="badge bg-danger">Cancelada</span>
                        }

                    </p>
                    <p class="mb-1"><strong>Data Início:</strong> @Model.DataInicio.ToShortDateString()</p>
                    <p class="mb-3"><strong>Data Fim:</strong> @Model.DataFim.ToShortDateString()</p>
                    <p>
                        <div class="progress" style="height: 25px; border-radius: 12px; overflow: hidden;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar" style="width: @Model.Progresso%;" aria-valuenow="@Model.Progresso"
                                 aria-valuemin="0" aria-valuemax="100">
                                @Model.Progresso%
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">

                        <a class="btn btn-primary" href="@Url.Action("GerarCertificados", "Lider")">
                            <i class="fas fa-award"></i> Gerar Certificados
                            <span class="badge bg-light text-dark ms-2">
                                @Model.TotalCertificadosPendentes
                            </span>
                        </a>
                        <a asp-action="Relatorios" asp-route-idTurma="@Model.Id" class="btn btn-info">
                            <i class="fas fa-search"></i> Ver Relatórios
                        </a>
                        <a asp-action="CriarRelatorio" asp-route-idTurma="@Model.Id" class="btn btn-success">
                            <i class="fas fa-plus"></i> Novo Relatório Semanal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4>Casais Matriculados</h4>

                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Casal</th>
                                <th>Última Lição</th>
                                <th>Presença</th>
                                <th>Status Matricula</th>
                                <th>Certificado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (EnsinoApp.ViewModels.Turmas.CasalMatriculadoViewModel casal in
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Model.CasaisMatriculados)
                            {
                                <tr>
                                    <td>@casal.Nome</td>
                                    <td>@casal.UltimaLicao?.ToShortDateString()</td>
                                    <td>@casal.Presenca</td>
                                    <td>@if (@casal.Matricula.Status == StatusMatricula.Ativa)
                                        {
                                            <a asp-action="ConcluirCurso" asp-route-idMatricula="@casal.Matricula.Id"
                                                   class="btn btn-sm btn-success">
                                                <i class="fas fa-check"></i> Concluir
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">Concluída</span>
                                        }
                                    </td>
                                    <td>
                                        @if (@casal.Matricula.CertificadoEmitido)
                                        {
                                            <a asp-action="VerCertificado" asp-controller="Lider"
                                                   asp-route-idMatricula="@casal.Matricula.Id"
                                                   asp-route-turmaId=@casal.Matricula.IdTurma target="_blank"
                                                   class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-file-pdf"></i> Ver Certificado
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="badge bg-info">Não Gerado</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('chartPresenca').getContext('2d');
        const data = {
        labels: @Html.Raw(Json.Serialize(Model.CasaisMatriculados.Select(c => c.PrimeiroNome))),
        datasets: [{
        label: 'Presença',
        data: @Html.Raw(Json.Serialize(Model.CasaisMatriculados.Select(c => c.QtdPresencas))),
        backgroundColor: 'rgba(54, 162, 235, 0.6)'
        }, {
        label: 'Falta',
        data: @Html.Raw(Json.Serialize(Model.CasaisMatriculados.Select(c => c.QtdFaltas))),
        backgroundColor: 'rgba(255, 0, 0, 0.8)'
        }]
        };
        const chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: { responsive: true, scales: { y: { beginAtZero: true } } }
        });
    </script>
}