@model IEnumerable<EnsinoApp.ViewModels.campus.ListarCamposViewModel>
@{
    ViewData["Title"] = "Gerenciar Campus";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gerenciar Campus</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <form asp-action="Index">
                            <div class="input-group input-group-sm" style="width: 300px;">
                                <input type="text" class="form-control" placeholder="Buscar campus" name="filtro"
                                       value="@ViewBag.Filtro">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <a href="/campus/adicionar" class="btn btn-outline-primary btn-sm">Novo campus</a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th style="width: 40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model!)
                            {
                                <tr>
                                    <td>@p.Nome</td>
                                    <td>@p.Telefone</td>
                                    <td>
                                        <a href="/campus/editar/@p.Id" class="btn btn-primary btn-sm mr-1" title="Editar">
                                            <span class="fas fa-edit"></span>
                                        </a>
                                        <a asp-controller="Campus" asp-action="Excluir" asp-route-id="@p.Id"
                                               onclick="return confirm('Tem certeza que deseja excluir o campus?')"
                                               class="btn btn-sm btn-danger" tytle="Excluir">
                                            <span class="fas fa-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @if (ViewBag.Totalpaginas > 1)
                    {
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (ViewBag.NumeroPagina > 1)
                            {
                                <li class="page-item"><a class="page-link"
                                                             href="@Url.Action("Index", "Medicos", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina - 1 })">&laquo;</a>
                                </li>
                            }
                            <li class="page-item page-link">Página @ViewBag.NumeroPagina de @ViewBag.TotalPaginas</li>
                            @if (ViewBag.NumeroPagina < ViewBag.TotalPaginas)
                            {
                                <li class="page-item"><a class="page-link"
                                                             href="@Url.Action("Index", "Medicos", new { Filtro = ViewBag.Filtro, Pagina = ViewBag.NumeroPagina + 1 })">&raquo;</a>
                                </li>
                            }
                        </ul>

                    }
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->